$font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

.part2-wrapper {
  padding: 2% 10%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.part2__product {
  padding: 2%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.part2__img {
  width: 100px;
  height: 100px;
}

.part2__div {
  padding: 1%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.part2__div__title {
  color: rgb(80, 15, 15);

    font: {
      family: $font-family;
      size: 22px;
      weight: 700;
    }
}

.part2__div__paragraph {
  padding: 2%;
  text-align: left;

    font: {
      family: $font-family;
      size: 15px;
    }
}
