.part2-wrapper {
  padding: 2% 10%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.part2__product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.part2__img {
  width: 100px;
  height: 100px;
}

.part2__div {
  padding: 1%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.part2__div__title {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 22px;
  font-weight: 700;
  color: rgb(80, 15, 15);
}

.part2__div__paragraph {
  padding: 2%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 15px;
  text-align: left;
}
