<div class="part2-wrapper">
  <div class="main-info">
    <h3 class="main-info__h3">Пожалуйста, заполните форму, мы свяжемся с вами в ближайшее время</h3>
    <form>
      <div class="form-group">
        <label for="exampleInputPassword1" class="label">ФИО</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ваше имя">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="label">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите ваш email">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1" class="label">Сообщение</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Введите текст вашего сообщения"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">ОТПРАВИТЬ</button>
    </form>
  </div>
  <img class="part2-map" src="/assets/contacts-map.jpg" alt="map">
</div>
