$font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

.image-wrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

    background: {
      image: url("/assets/contacts.jpg");
      size: 100%;
    }
}

.image-wrapper__title {
  margin: 0;
  letter-spacing: 2px;
  color: rgb(211, 205, 212);

    font: {
      family: $font-family;
      size: 50px;
      weight: 700;
    }
}
