$font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

.image-wrapper {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-img {
  width: 100%;
  height: 100%;
}

.image-wrapper__title {
  position: absolute;
  margin: 0;
  letter-spacing: 2px;
  color: rgb(211, 205, 212);

    font: {
      family: $font-family;
      size: 50px;
      weight: 700;
    }
}
