<div class="part2-wrapper">
  <h2 class="part2-title">Актуальные вакансии</h2>
  <div class="main-info">
    <h3 class="main-info__h3">Аналитик</h3>
    <p class="main-info__p">В настоящее время сотрудника на позицию Аналитик для работы в нашем офисе в Минске</p>
    <button class="main-info__button" type="button" class="btn btn-warning">Ответить на вакансию</button>
  </div>
  <div class="main-info">
    <h3 class="main-info__h3">Графический дизайнер</h3>
    <p class="main-info__p">В настоящее время сотрудника на позицию Графический дизайнер для работы в нашем офисе в Минске</p>
    <button class="main-info__button" type="button" class="btn btn-warning">Ответить на вакансию</button>
  </div>
  <div class="main-info">
    <h3 class="main-info__h3">Database developer</h3>
    <p class="main-info__p">В настоящее время сотрудника на позицию Database developer для работы в нашем офисе в Минске</p>
    <button class="main-info__button" type="button" class="btn btn-warning">Ответить на вакансию</button>
  </div>
  <div class="main-info">
    <h3 class="main-info__h3">Java Developer</h3>
    <p class="main-info__p">В настоящее время сотрудника на позицию Java Developer для работы в нашем офисе в Минске</p>
    <button class="main-info__button" type="button" class="btn btn-warning">Ответить на вакансию</button>
  </div>
</div>
