$font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

.part2-wrapper {
  padding: 1% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.part2-title {
  letter-spacing: 2px;
  color: rgb(61, 17, 90);

    font: {
      family: $font-family;
      size: 30px;
      weight: 700;
    }
}

.main-info {
  width: 70%;
  margin: 1%;
  padding: 2%;
  border: 3px double #000;
  border-radius: 1%;
}

.main-info__h3 {
  margin: 1%;
  text-align: left;
  color: rgb(23, 100, 62);

    font: {
      family: $font-family;
      size: 22px;
      weight: 700;
    }
}

.main-info__p {
  color: rgb(80, 15, 15);
  text-align: left;

    font: {
      family: $font-family;
      size: 18px;
    }
}

.main-info__button {
  float: right;
}
