$font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

.part3-wrapper {
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d1d1e4;
}

.main-info__h3 {
  margin: 1%;
  color: rgb(80, 15, 15);

    font: {
      family: $font-family;
      size: 27px;
      weight: 700;
    }
}

.main-info__p {
  font: {
    family: $font-family;
    size: 18px;
  }
}

.main-info__button {
  float: right;
  width: 200px;
  height: 50px;
  background-color: rgb(177, 30, 30);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 20px;

    font: {
      family: $font-family;
      size: 16px;
    }

    &:hover {
      background-color: rgb(233, 38, 38);
    }
}
