$font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

.part2-wrapper {
  padding: 2%;
  background-color: rgb(229, 229, 243);
}

.part2__title {
  font: {
    family: $font-family;
    size: 25px;
    weight: 700;
  }
}

.main-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-info__wrapper {
  margin: 1% 5%;
  width: 15%;

    h3 {
      margin: 1%;
      padding-bottom: 10%;
      color: rgb(29, 141, 25);
      border-bottom: 2px solid rgb(87, 78, 95);

        font: {
          family: $font-family;
          size: 40px;
          weight: 700;
        }
    }

    p {
      font: {
        family: $font-family;
        size: 16px;
        weight: 700;
      }
    }
}
