$font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

.part3-wrapper {
  padding: 2% 20%;
  background-color: rgb(189, 208, 218);
}

.part3-title {
  text-transform: uppercase;
  color: rgb(44, 18, 87);
    font: {
      family: $font-family;
      size: 20px;
      weight: 700;
    }
}

.part3-paragraph {
  font: {
    family: $font-family;
    size: 16px;
  }
}

.part3-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.workers {
  display: flex;
  justify-content: center;
}

.img-wrapper {
  margin: 1%;
  padding: 2%;
  background-color: rgb(241, 236, 245);
}
