<div class="part3-wrapper">
  <h2 class="part3-title">Кто мы ?</h2>
  <p class="part3-paragraph">МЫ - большая команда, объединяющая консультантов, дизайнеров, разработчиков, аналитиков, тестировщиков по всему миру.
    Используя свой опыт и знания, мы создаем инновационные технологии и помогаем нашим клиентам решать глобальные бизнес-задачи.</p>
  <div class="workers">
    <div class="img-wrapper">
      <img class="part3-img" src="/assets/person1.jpg" alt="img1">
      <h3>Разработчики</h3>
    </div>
    <div class="img-wrapper">
      <img class="part3-img" src="/assets/person2.jpg" alt="img2">
      <h3>Тестировщики</h3>
    </div>
    <div class="img-wrapper">
      <img class="part3-img" src="/assets/person3.jpg" alt="img3">
      <h3>Дизайнеры</h3>
    </div>
    <div class="img-wrapper">
      <img class="part3-img" src="/assets/person4.jpg" alt="img4">
      <h3>Аналитики</h3>
    </div>
  </div>
</div>
