$font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

.part4-wrapper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgb(125, 116, 136) 0%, rgb(189, 208, 218) 30%, rgb(125, 116, 136) 100%);
}

.block-wrapper {
  margin: 1% 5%;
  padding: 1% 5%;
  background-color: rgba(134, 135, 182, 0.7);

    .block-title {
      font: {
        family: $font-family;
        size: 18px;
        weight: 700;
      }
    }

    .block-par {
      font: {
        family: $font-family;
        size: 16px;
      }
    }
}
