$font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

.part2-wrapper {
  padding: 2% 10%;
}

.part2__about-us {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.part2__activity {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.part2__img {
  width: 350px;
  height: 250px;
}

.part2__div {
  padding: 1%;
  width: 60%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.part2__div__title {
  text-align: center;
  color: rgb(44, 18, 87);
    font: {
      family: $font-family;
      size: 20px;
      weight: 700;
    }
}

.part2__list-item {
  padding: 1%;
    font: {
      family: $font-family;
      size: 17px;
    }
}

.part2__div__paragraph {
  padding: 2%;
    font: {
      family: $font-family;
      size: 15px;
    }
}
