<div class="part2-wrapper">
  <div class="part2__about-us">
    <img class="part2__img" [src]="imagePath1" alt="part2__img">
    <div class="part2__div">
      <h3 class="part2__div__title">{{ title1 }}</h3>
      <p class="part2__div__paragraph">Данная компания является разработчиком ПО. Основным видом деятельности являются анализ, проектирование и разработка
      программного обеспечения информационных систем, выполняемых с использованием современных технологий. Специализируется на разработке
      Business-to-Business (B2B) и Business-to-Customer (B2C) решений управления предприятием, ERP-систем, на базе семейства
      программных продуктов IBMDB2 и IBMWebStore, а также на разработке мобильных приложений для операционных систем (Android, iOS, WindowsMobile).</p>
    </div>
  </div>
  <div class="part2__activity">
    <div class="part2__div">
      <h3 class="part2__div__title">{{ title2 }}</h3>
      <ul>
        <li class="part2__list-item">Прикладные программы</li>
        <li class="part2__list-item">Прикладное программное обеспечение</li>
        <li class="part2__list-item">Разработка программного обеспечения на заказ</li>
      </ul>
    </div>
    <img class="part2__img" [src]="imagePath2" alt="part2__img">
  </div>
</div>

