$font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

.part4-wrapper {
  padding: 5%;
  background-color: rgb(229, 229, 243);
  display: flex;
  justify-content: center;
}

.main-info__wrapper {
  margin: 0 5%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-info__h3 {
  margin: 1%;
  padding-bottom: 10%;
  border-bottom: 2px solid rgb(87, 78, 95);
  color: rgb(19, 59, 70);

    font: {
      family: $font-family;
      size: 30px;
      weight: 700;
    }
}

.main-info__p {
  color: rgb(92, 87, 18);

    font: {
      family: $font-family;
      size: 16px;
    }
}

