<div class="part4-wrapper">
  <div class="main-info__wrapper">
    <h3 class="main-info__h3">Кто Мы ?</h3>
    <p class="main-info__p">Наша компания является разработчиком ПО. Основным видом деятельности являются анализ,
      проектирование и разработка программного оббеспечения информационных систем, выполеняемых с использованием
      современных технологий.</p>
  </div>
  <div class="main-info__wrapper">
    <h3 class="main-info__h3">Чем Мы занимаемся ?</h3>
    <p class="main-info__p">E-vision занимается не только разработкой конкретных бизнес-решений, а также предлагает своим клиентам
      возможность получать уникальные IT-решения, помогающие каждой компании выделиться среди конкурентов.</p>
  </div>
  <div class="main-info__wrapper">
    <h3 class="main-info__h3">Почему Мы ?</h3>
    <p class="main-info__p">Мы имеем многолетний опыт работы в IT-сфере. За это время нам удалось поработать со многими крупнейшими компаниями.
      Мы имеем множество отличных отзывов о нашей работе. Мы представляем своим клиентам приложения высокого качества, отвечающие всем потребностям.</p>
  </div>
</div>
