.image-wrapper {
  height: 300px;
  background-image: url("/assets/vacancy.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
